{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="template" content="Hausa Crypto">
    <meta name="title" content="Hausa Crypto">
    <meta name="keywords"
        content="Bitcoin">
    <title>Hausa - Crypto</title>
    <link rel="icon" href="{% static 'images/4.png' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/venobox/venobox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slickslider/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/niceselect/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog-standard.css' %}">
    <link rel="stylesheet" href="{% static 'src/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- <link rel="stylesheet" href="style.css"> -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2225454814262853"
     crossorigin="anonymous"></script>
     <script type="text/javascript">
        atOptions = {
            'key' : 'd748f16532bbfa835513613512b33305',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/d748f16532bbfa835513613512b33305/invoke.js"></scr' + 'ipt>');
    </script>
    <script type='text/javascript' src='//pl19979214.highrevenuegate.com/70/1b/b6/701bb60993990da6df7bddb96d6fa448.js'></script>
</head>